# Apple Health Extractor

This code will parse your Apple Health export data, create multiple CSV and do some simple data checks and data analysis. 

Enjoy!

--------

## Extract Data and Export to CSVs from Apple Health's Export.xml

* Command Line Tool to Process apple health's export.xml file 
* Create multiple CSV files for each data type. 
* Original Source: https://github.com/tdda/applehealthdata
* Based on the size of your Apple Health Data, this script may take several minutes to complete.

**NOTE: Currently there are a few minror errors based on additional data from Apple Health that require some updates.**

## Setup and Usage NOTE

* Export your data from Apple Health App on your phone. 
* Unzip export.zip into this directory and rename to data. 
* Inside your directory there should be a directory and file here: /data/export.xml
* Run inside project or in the command line.

In [1]:
pwd

'/Users/nazihkalo/Desktop/UChicago_Analytics/Personal Projects/Health Data'

In [2]:
# %run -i 'apple-health-data-parser' 'export.xml' 
%run -i 'apple-health-data-parser' 'apple_health_export/export.xml'

Reading data from apple_health_export/export.xml . . . done

apple-health-data-parser.py:136: DeprecationWarning: This method will be removed in future versions.  Use 'list(elem)' or iteration over elem instead.
  self.nodes = self.root.getchildren()

Unexpected node of type ExportDate.

Tags:
ActivitySummary: 682
ExportDate: 1
Me: 1
Record: 3321786
Workout: 557

Fields:
HKCharacteristicTypeIdentifierBiologicalSex: 1
HKCharacteristicTypeIdentifierBloodType: 1
HKCharacteristicTypeIdentifierDateOfBirth: 1
HKCharacteristicTypeIdentifierFitzpatrickSkinType: 1
activeEnergyBurned: 682
activeEnergyBurnedGoal: 682
activeEnergyBurnedUnit: 682
appleExerciseTime: 682
appleExerciseTimeGoal: 682
appleStandHours: 682
appleStandHoursGoal: 682
creationDate: 3322343
dateComponents: 682
device: 3095676
duration: 557
durationUnit: 557
endDate: 3322343
sourceName: 3322343
sourceVersion: 3097121
startDate: 3322343
totalDistance: 557
totalDistanceUnit: 557
totalEnergyBurned: 557
totalEnergyBurnedUnit: 557
type: 3321786
unit: 3307928
value: 3321176
workoutActivityType: 557

Record types:
ActiveEnergyBurned: 1305742
AppleExerciseTime: 60420
AppleStandHour: 13177
BasalEnergyBurned: 873065
BodyMass: 2
DistanceSwimming: 51
DistanceWalkingRunning: 300864
FlightsClimbed: 24499
HeartRate: 470303
HeartRateVariabilitySDNN: 1647
Height: 1
HighHeartRateEvent: 37
LowHeartRateEvent: 531
MindfulSession: 43
RestingHeartRate: 674
SleepAnalysis: 70
StepCount: 270090
SwimmingStrokeCount: 51
VO2Max: 11
WaistCircumference: 1
WalkingHeartRateAverage: 507

Opening /Users/nazihkalo/Desktop/UChicago_Analytics/Personal Projects/Health Data/apple_health_export/Height.csv for writing
Opening /Users/nazihkalo/Desktop/UChicago_Analytics/Personal Projects/Health Data/apple_health_export/BodyMass.csv for writing
Opening /Users/nazihkalo/Desktop/UChicago_Analytics/Personal Projects/Health Data/apple_health_export/HeartRate.csv for writing
Opening /Users/nazihkalo/Desktop/UChicago_Analytics/Personal Projects/Health Data/apple_health_export/StepCount.csv for writing
Opening /Users/nazihkalo/Desktop/UChicago_Analytics/Personal Projects/Health Data/apple_health_export/DistanceWalkingRunning.csv for writing
Opening /Users/nazihkalo/Desktop/UChicago_Analytics/Personal Projects/Health Data/apple_health_export/BasalEnergyBurned.csv for writing
Opening /Users/nazihkalo/Desktop/UChicago_Analytics/Personal Projects/Health Data/apple_health_export/ActiveEnergyBurned.csv for writing
Opening /Users/nazihkalo/Desktop/UChicago_Analytics/Personal Projects/Health Data/apple_health_export/FlightsClimbed.csv for writing
Opening /Users/nazihkalo/Desktop/UChicago_Analytics/Personal Projects/Health Data/apple_health_export/AppleExerciseTime.csv for writing
Opening /Users/nazihkalo/Desktop/UChicago_Analytics/Personal Projects/Health Data/apple_health_export/DistanceSwimming.csv for writing
Opening /Users/nazihkalo/Desktop/UChicago_Analytics/Personal Projects/Health Data/apple_health_export/SwimmingStrokeCount.csv for writing
Opening /Users/nazihkalo/Desktop/UChicago_Analytics/Personal Projects/Health Data/apple_health_export/WaistCircumference.csv for writing
Opening /Users/nazihkalo/Desktop/UChicago_Analytics/Personal Projects/Health Data/apple_health_export/RestingHeartRate.csv for writing
Opening /Users/nazihkalo/Desktop/UChicago_Analytics/Personal Projects/Health Data/apple_health_export/VO2Max.csv for writing
Opening /Users/nazihkalo/Desktop/UChicago_Analytics/Personal Projects/Health Data/apple_health_export/WalkingHeartRateAverage.csv for writing
Opening /Users/nazihkalo/Desktop/UChicago_Analytics/Personal Projects/Health Data/apple_health_export/SleepAnalysis.csv for writing
Opening /Users/nazihkalo/Desktop/UChicago_Analytics/Personal Projects/Health Data/apple_health_export/AppleStandHour.csv for writing
Opening /Users/nazihkalo/Desktop/UChicago_Analytics/Personal Projects/Health Data/apple_health_export/MindfulSession.csv for writing
Opening /Users/nazihkalo/Desktop/UChicago_Analytics/Personal Projects/Health Data/apple_health_export/HighHeartRateEvent.csv for writing
Opening /Users/nazihkalo/Desktop/UChicago_Analytics/Personal Projects/Health Data/apple_health_export/LowHeartRateEvent.csv for writing
Opening /Users/nazihkalo/Desktop/UChicago_Analytics/Personal Projects/Health Data/apple_health_export/HeartRateVariabilitySDNN.csv for writing
Opening /Users/nazihkalo/Desktop/UChicago_Analytics/Personal Projects/Health Data/apple_health_export/Workout.csv for writing
Opening /Users/nazihkalo/Desktop/UChicago_Analytics/Personal Projects/Health Data/apple_health_export/ActivitySummary.csv for writing
Written Height data.
Written BodyMass data.
Written HeartRate data.
Written StepCount data.
Written DistanceWalkingRunning data.
Written BasalEnergyBurned data.
Written ActiveEnergyBurned data.
Written FlightsClimbed data.
Written AppleExerciseTime data.
Written DistanceSwimming data.
Written SwimmingStrokeCount data.
Written WaistCircumference data.
Written RestingHeartRate data.
Written VO2Max data.
Written WalkingHeartRateAverage data.
Written SleepAnalysis data.
Written AppleStandHour data.
Written MindfulSession data.
Written HighHeartRateEvent data.
Written LowHeartRateEvent data.
Written HeartRateVariabilitySDNN data.
Written Workout data.
Written ActivitySummary data.

-----

# Apple Health Data Check and Simple Data Analysis

In [3]:
import numpy as np
import pandas as pd
import glob

----

# Weight

In [4]:
weight = pd.read_csv("apple_health_export/BodyMass.csv")

In [5]:
weight.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
0,Nazih's iPhone 7,11.0.3,NaN,BodyMass,lb,2017-10-29 00:49:41 +0300,2017-10-29 00:49:41 +0300,2017-10-29 00:49:41 +0300,146
1,Health,11.2.5,NaN,BodyMass,lb,2018-02-09 21:51:22 +0300,2018-02-09 21:51:22 +0300,2018-02-09 21:51:22 +0300,147

In [6]:
weight.describe()

       device       value
count     0.0    2.000000
mean      NaN  146.500000
std       NaN    0.707107
min       NaN  146.000000
25%       NaN  146.250000
50%       NaN  146.500000
75%       NaN  146.750000
max       NaN  147.000000

----

## Steps

In [7]:
steps = pd.read_csv("apple_health_export/StepCount.csv")

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
len(steps)

270090

In [9]:
steps.columns

Index(['sourceName', 'sourceVersion', 'device', 'type', 'unit', 'creationDate',
       'startDate', 'endDate', 'value'],
      dtype='object')

In [10]:
steps.describe()

               value
count  270090.000000
mean       82.704291
std       294.872520
min         1.000000
25%         7.000000
50%        20.000000
75%        81.000000
max     53866.000000

In [11]:
steps.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
270085,Nazih’s Apple Watch,5.3,"<<HKDevice: 0x2839f35c0>, name:Apple Watch, ma...",StepCount,count,2019-09-03 18:29:11 +0300,2019-09-03 18:14:17 +0300,2019-09-03 18:14:27 +0300,23
270086,Nazih’s Apple Watch,5.3,"<<HKDevice: 0x2839f3660>, name:Apple Watch, ma...",StepCount,count,2019-09-03 18:29:11 +0300,2019-09-03 18:23:22 +0300,2019-09-03 18:23:24 +0300,12
270087,Nazih’s Apple Watch,5.3,"<<HKDevice: 0x2839f3700>, name:Apple Watch, ma...",StepCount,count,2019-09-03 18:29:11 +0300,2019-09-03 18:26:36 +0300,2019-09-03 18:26:39 +0300,8
270088,Nazih’s Apple Watch,5.3,"<<HKDevice: 0x2839f37a0>, name:Apple Watch, ma...",StepCount,count,2019-09-03 18:49:41 +0300,2019-09-03 18:45:17 +0300,2019-09-03 18:45:22 +0300,13
270089,Nazih’s Apple Watch,5.3,"<<HKDevice: 0x2839f3840>, name:Apple Watch, ma...",StepCount,count,2019-09-03 18:49:41 +0300,2019-09-03 18:46:16 +0300,2019-09-03 18:46:44 +0300,27

In [12]:
# total all-time steps
steps.value.sum()

22337602

-------

## Stand Count

In [13]:
stand = pd.read_csv("apple_health_export/AppleStandHour.csv")

In [14]:
len(stand)

13177

In [15]:
stand.columns

Index(['sourceName', 'sourceVersion', 'device', 'type', 'unit', 'creationDate',
       'startDate', 'endDate', 'value'],
      dtype='object')

In [16]:
stand.describe()

       unit
count   0.0
mean    NaN
std     NaN
min     NaN
25%     NaN
50%     NaN
75%     NaN
max     NaN

In [17]:
stand.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
13172,Nazih’s Apple Watch,5.3,"<<HKDevice: 0x283bf4dc0>, name:Apple Watch, ma...",AppleStandHour,NaN,2019-09-03 16:27:16 +0300,2019-09-03 14:00:00 +0300,2019-09-03 15:00:00 +0300,HKCategoryValueAppleStandHourIdle
13173,Nazih’s Apple Watch,5.3,"<<HKDevice: 0x283bf4e60>, name:Apple Watch, ma...",AppleStandHour,NaN,2019-09-03 16:27:16 +0300,2019-09-03 15:00:00 +0300,2019-09-03 16:00:00 +0300,HKCategoryValueAppleStandHourIdle
13174,Nazih’s Apple Watch,5.3,"<<HKDevice: 0x283bf4f00>, name:Apple Watch, ma...",AppleStandHour,NaN,2019-09-03 16:27:16 +0300,2019-09-03 16:00:00 +0300,2019-09-03 17:00:00 +0300,HKCategoryValueAppleStandHourStood
13175,Nazih’s Apple Watch,5.3,"<<HKDevice: 0x283bf4fa0>, name:Apple Watch, ma...",AppleStandHour,NaN,2019-09-03 17:59:59 +0300,2019-09-03 17:00:00 +0300,2019-09-03 18:00:00 +0300,HKCategoryValueAppleStandHourIdle
13176,Nazih’s Apple Watch,5.3,"<<HKDevice: 0x283bf5040>, name:Apple Watch, ma...",AppleStandHour,NaN,2019-09-03 18:09:04 +0300,2019-09-03 18:00:00 +0300,2019-09-03 19:00:00 +0300,HKCategoryValueAppleStandHourStood

------

## Resting Heart Rate (HR)

In [44]:
q = [1,2, 5, 3, 7, 8, 6, 4]
nums = list(range(1,len(q)+1))
diff = [(q[i] - nums[i]) for i in range(len(q))]
print(nums)
diff

[1, 2, 3, 4, 5, 6, 7, 8]

[0, 0, 2, -1, 2, 2, -1, -4]

In [18]:
restingHR = pd.read_csv("apple_health_export/RestingHeartRate.csv")

In [19]:
len(restingHR)

674

In [20]:
restingHR.describe()

       device       value
count     0.0  674.000000
mean      NaN   42.169139
std       NaN    5.638532
min       NaN   32.000000
25%       NaN   39.000000
50%       NaN   41.000000
75%       NaN   44.000000
max       NaN   77.000000

---

## Walking Heart Rate (HR) Average

In [21]:
walkingHR = pd.read_csv("apple_health_export/WalkingHeartRateAverage.csv")

In [22]:
len(walkingHR)

507

In [23]:
walkingHR.describe()

       device       value
count     0.0  507.000000
mean      NaN   90.619329
std       NaN   16.337264
min       NaN   46.000000
25%       NaN   80.000000
50%       NaN   89.000000
75%       NaN  101.000000
max       NaN  157.000000

---

## Heart Rate Variability (HRV)

In [24]:
hrv = pd.read_csv("apple_health_export/HeartRateVariabilitySDNN.csv")

In [25]:
len(hrv)

1647

In [26]:
hrv.columns

Index(['sourceName', 'sourceVersion', 'device', 'type', 'unit', 'creationDate',
       'startDate', 'endDate', 'value'],
      dtype='object')

In [27]:
hrv.describe()

             value
count  1647.000000
mean     87.390245
std      33.510667
min       8.098030
25%      64.342350
50%      84.965400
75%     106.644000
max     262.979000

In [28]:
hrv.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
1642,Nazih’s Apple Watch,5.3,"<<HKDevice: 0x283a89680>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2019-09-01 09:11:29 +0300,2019-09-01 09:10:29 +0300,2019-09-01 09:11:29 +0300,106.5150
1643,Nazih’s Apple Watch,5.3,"<<HKDevice: 0x283a89720>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2019-09-01 13:11:34 +0300,2019-09-01 13:10:29 +0300,2019-09-01 13:11:34 +0300,64.8325
1644,Nazih’s Apple Watch,5.3,"<<HKDevice: 0x283a897c0>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2019-09-01 17:11:35 +0300,2019-09-01 17:10:29 +0300,2019-09-01 17:11:35 +0300,87.3327
1645,Nazih’s Apple Watch,5.3,"<<HKDevice: 0x283a89860>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2019-09-02 01:00:14 +0300,2019-09-02 00:59:13 +0300,2019-09-02 01:00:14 +0300,78.3853
1646,Nazih’s Apple Watch,5.3,"<<HKDevice: 0x283a89900>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2019-09-02 08:20:10 +0300,2019-09-02 08:19:05 +0300,2019-09-02 08:20:10 +0300,91.4453

-------